
*{
    margin: 0;
    padding: 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* navbar */

.navLink:hover{
background-color: #0d6efd;
color: white !important;
border-radius: 2px;
}
.main{
    min-height: 80vh;
}

.user-main{
    min-height: 80vh;
}

.img-bg{
background: url("/Library.jpg");
background-position: center center;
background-attachment: fixed;
}
.glassmophormism{
    background: rgba(85, 120, 216, 0.11);
    color: white;
    padding: 10px 0;
    backdrop-filter: blur(9px);
    border-radius: 10px;
}

/* .parallelogram{
    
} */

.card-img{
    height: 50% !important;
    
}

.active{
    background-color: white;
    color: black;
}

/* bos for the review delete */
.custom-btn {
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Bold text for emphasis */
    border-radius: 8px; /* Rounded corners for buttons */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
  }
  
  .custom-btn:hover {
    transform: scale(1.02); /* Slightly enlarge the button on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
  }
  
  .mb-3 {
    margin-bottom: 20px; /* Adjust the spacing for the message text */
  }
  
  .row-custom {
    width: 100%; /* Ensure row takes full width */
    max-width: 400px; /* Limit row size for small screens */
  }
  

  /* sidebar responsiveness */

  @media (max-width: 767px){
    .custom-height-width{
        width: 100%;
    }
  }

  